* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 226px;
  height: 337px;
  background: #ffecbb;
  position: relative;
}
.box {
  position: absolute;
  width: 55px;
  height: 56px;
}

.one {
  top: 10px;
  left: 10px;
  background: #E7C1F9;

}
.two {
   background:  #E7C1F9;
  top: 140px;
  left: 10px;
}
.three {
  bottom:  200px;
  left: 100px;
  background:  #E7C1F9;
}


.blue {
  top: 75px;
  left: 200px;
  background-color: blue;
}
.door {
   position: relative;
    width: 57px;
    height: 81px;
    left: 145px;
    top: 255px;
    
    background: #84CEF9;
}